name: Go Tests

on:
  push:
    branches:
      - main

jobs:
  first-job:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis/redis-stack:7.4.0-v2
        ports:
          - 6379:6379
          - 8001:8001
        env:
          REDIS_USERNAME: default
          REDIS_PASSWORD: default
      memcached:
        image: memcached:1.6-alpine
        ports:
          - 11211:11211
      kafka:
        image: confluentinc/cp-kafka:7.5.1
        env:
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
          KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
          KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
          KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        ports:
          - 9092:9092
      zookeeper:
        image: confluentinc/cp-zookeeper:7.5.1
        env:
          ZOOKEEPER_CLIENT_PORT: 2181
          ZOOKEEPER_TICK_TIME: 2000
        ports:
          - 2181:2181

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Install librdkafka
        run: |
          sudo apt-get update
          sudo apt-get install -y librdkafka-dev

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -v ./...
        env:
          TEST_KAFKA_BROKERS: localhost:9092
          REDIS_HOST: localhost
          REDIS_PORT: 6379
          REDIS_USERNAME: default
          REDIS_PASSWORD: default
